<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="MachineID" value="Machine1"/>
  </appSettings>
  
  <connectionStrings>
    <add name="LocalDB"  connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=SugarMixtureDB; Integrated Security=SSPI;" />
  </connectionStrings>
  
</configuration>